extends layout
block content
  div.container
    h1 Issues        
    ul.collection.with-header
      - var counter = 0;
      - each issue in issues
        - counter++;
        li.collection-item.avatar.indigo.lighten-5(id="li" + counter.toString())
          - var level = parseInt(issue.issueLevel) + 1;
          case level
            when 1
              i.material-icons.circle.green
            when 2
              i.material-icons.circle.yellow
            default
              i.material-icons.circle.red
          span.title 
            b #{issue.computerID}
          p Room: 
            i #{issue.room}
          p Description: 
            i #{issue.description}
          p Severity: 
            i #{level}
          a(class="modal-trigger modal-close" href="#modal1").secondary-content
            i.material-icons close
            
        div.modal(id=counter.toString())
          div.modal-content
            p Are you sure this issue has been fixed?
          div.modal-footer
            a(href="#" class="modal-action modal-close waves-effect waves-red btn-flat") Cancel
            a(href="/comp/" + issue.computerID class="modal-action modal-close waves-effect waves-green btn-flat") Edit
            a(href="#" id="confirm" class="modal-action modal-close waves-effect waves-green btn-flat") Confirm
      
  // Show Confirm Modal When "X" Button is Clicked; Remove Div if Confirmed  
  script.
    function post(path, params, method) {
      method = method || "post"; // Set method to post by default if not specified.

      // The rest of this code assumes you are not using a library.
      // It can be made less wordy if you use one.
      var form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", path);

      for(var key in params) {
        if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
         }
      }

      document.body.appendChild(form);
      form.submit();
    }
    
    var store = null;
    var id = null;
    $(".modal-trigger").click(function(){
      store = "#" + $(this).parent().closest('li').attr('id');
      id = $(this).parent().closest('li').find('span').text();
      $(store[0] + store.slice(3)).openModal();
    });
    $("#confirm").click(function(){
      console.log(id);
      post("/issues", {computerID: id});
    });
